body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.svg-wrapper {
  width: 30px;
  height: 30px;
}

.svg-wrapper svg {
  width: 100%;
  height: 100%;
}

.button {
  text-decoration: none;
  min-height: var(--style-button-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--style-button-border-radius);
  padding: 5px 30px;
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.button--primary {
  color: var(--color-button-foreground);
  background-color: var(--color-button);
  border: var(--style-button-border-width) solid var(--color-button-border);
}

.button--primary:focus,
.button--primary:hover {
  color: var(--color-button-hover-foreground);
  background-color: var(--color-button-hover);
  border-color: var(--color-button-hover-border);
}

.button--secondary {
  color: var(--color-secondary-button-foreground);
  background-color: var(--color-secondary-button);
  border: var(--style-button-border-width) solid
    var(--color-secondary-button-border);
}

.button--secondary:focus,
.button--secondary:hover {
  color: var(--color-secondary-button-hover-foreground);
  background-color: var(--color-secondary-button-hover);
  border-color: var(--color-secondary-button-hover-border);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.buttons.center {
  justify-content: center;
}

.overlay {
  position: relative;
}

.overlay:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(28, 37, 57, 0.95);
  z-index: 1;
}

@media (max-width: 767px) {
  .button {
    min-width: 130px;
    min-height: var(--style-button-height-mobile);
  }
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 999999;
}

.header-grid {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  z-index: 9;
}

.header-logo {
  max-width: 160px;
}

.header-menu .nav-link {
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  letter-spacing: normal;
  padding: 40px 20px;
}

.header-menu .nav-item:hover > .nav-link {
  color: rgba(0, 183, 241, 1);
}

.icon-hamburger svg {
  width: 32px;
  height: 32px;
  color: #fff;
}

.icon-hamburger:focus,
.icon-hamburger:hover,
.icon-hamburger {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.header-sticky.scrolled-past-header {
  border-color: rgba(0, 183, 241, 1);
  background: rgba(0, 183, 241, 0.3);
  border-bottom: var(--style-border-width) solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.scroll-margin {
  --scroll-top: calc(var(--header-height) + 20px);
  scroll-margin-block-start: var(--scroll-top, 100px);
}

@media (max-width: 991px) {
  .header-wrapper {
    padding: 24px 0;
  }

  .mobile-menu .button {
    min-width: 100%;
  }

  .header-menu .nav-link {
    padding: 16px 0px;
  }

  .header-menu .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .btn-close.icon-close {
    --bs-btn-close-bg: none;
    width: 28px;
    height: 28px;
    opacity: 1;
    color: #fff;
  }

  .mobile-menu .header-menu {
    margin: 0;
    margin-block-start: -16px;
  }

  .offcanvas-header.has-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-block-end: 24px;
    margin-block-end: 8px;
  }

  .mobile-menu .header-actions {
    padding-block-end: 24px;
  }
}

@media (max-width: 767px) {
  .header-logo {
    max-width: 140px;
  }

  .header-menu .nav-link {
    font-size: 16px;
  }
}

/* Media */
.media-wrapper {
  position: relative;
  overflow: hidden;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media img {
  object-fit: cover;
  height: 100%;
}

/* Hero Banner */
.hero-banner {
  min-height: 730px;
}

.hero-heading {
  font-size: 36px;
  font-weight: 500;
  margin: 0 auto;
  margin-block-end: 30px;
  color: #fff;
  max-width: 930px;
}

.hero-brand-heading {
  font-size: 80px;
  font-weight: 600;
  margin-block-end: 20px;
  color: rgba(0, 183, 241, 1);
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px 20px;
  color: #00d4fd;
  font-size: 18px;
  font-weight: 500;
  margin-block-end: 40px;
}

@media (max-width: 767px) {
  .hero-heading {
    font-size: 28px;
  }

  .hero-heading br {
    display: none;
  }

  .branding-logo {
    max-width: 100px;
  }
}

/* Flex Content */
.flex-content {
  position: relative;
  z-index: 1;
}

.max-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Section Headings */
.section-headings.headings-width {
  max-width: 730px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.section-headings .heading {
  font-size: 48px;
  line-height: 1.3;
  margin: 0;
  font-weight: 500;
}

.section-headings .text {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.section-headings .heading + .text {
  margin-block-start: 24px;
}

.section-headings + .section-content {
  margin-block-start: 60px;
}

.mt-100 {
  margin-block-start: 100px;
}

.section-padding {
  padding-block-start: 100px;
  padding-block-end: 100px;
}

.no-underline {
  text-decoration: none;
}

@media (max-width: 767px) {
  .section-headings .heading {
    font-size: 32px;
  }

  .mt-100 {
    margin-block-start: 70px;
  }

  .section-padding {
    padding-block-start: 70px;
    padding-block-end: 70px;
  }

  .section-headings + .section-content {
    margin-block-start: 40px;
  }
}

/* Card  */
.grid-gap {
  row-gap: 60px;
}

.card-demo .heading {
  position: relative;
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 1;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #f0b100;
  text-underline-position: under;
  text-underline-offset: 4px;
}

.card-demo .heading > .svg-wrapper {
  width: 20px;
  height: 20px;
  color: #000;
  transform: translateX(-10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.card-demo .heading > .svg-wrapper svg {
  margin-block-start: 2px;
}

.card-demo .image {
  padding: 32px;
  background: #eee;
  border-radius: 18px;
  overflow: hidden;
  display: block;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(28, 37, 57, 0.1);
}

.card-demo:hover .image {
  animation: animated-border 1.5s infinite;
  transform: scale(1.01);
}

.card-demo:hover > .heading > .svg-wrapper {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.card-demo .image img {
  border-radius: 18px;
}

.card-demo:hover > .image {
  background: rgba(0, 183, 241, 0.1);
}

@media (max-width: 767px) {
  .grid-gap {
    row-gap: 40px;
  }

  .card-demo .image {
    padding: 24px;
  }
}

.scroll-to-top {
  --size: 50px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 10;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 37, 57, 1);
  border-radius: 50%;
  box-shadow: 0px 4px 22px rgba(255, 255, 255, 0.5);
}

.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

.scroll-lock .scroll-to-top {
  display: none;
}

.scroll-to-top svg {
  --size: 22px;
  color: #fff;
  width: var(--size);
  height: var(--size);
}

@media (max-width: 767px) {
  .scroll-to-top {
    --size: 40px;
  }

  .scroll-to-top svg {
    --size: 20px;
  }
}
/* Text Style  */
.floating-text {
  position: relative;
  display: inline-block;
  animation: melt 3s ease-in-out infinite;
}

@keyframes melt {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
    opacity: 0.6;
  }

  100% {
    transform: translateY(0);
    opacity: 0.9;
  }
}

/* Marquee  */
.marquee {
  display: flex;
  flex-direction: column;
  gap: 56px;
  overflow: hidden;
  width: 100%;
  padding: 80px 0;
  background: #ebe7e2;
}

.marquee-track {
  display: flex;
  width: fit-content;
  gap: 40px;
}

.marquee-left {
  animation: marquee-left 25s linear infinite;
}

.marquee-right {
  animation: marquee-right 25s linear infinite;
}

.scroll-card {
  border-radius: 18px;
  min-width: 440px;
  cursor: pointer;
  overflow: hidden;
}

.scroll-card img {
  width: 100%;
  object-fit: cover;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-left:hover,
.marquee-right:hover {
  animation-play-state: paused;
}

@media (max-width: 991px) {
  .scroll-card {
    min-width: 340px;
  }
}

@media (max-width: 767px) {
  .scroll-card {
    min-width: 250px;
  }

  .marquee-track {
    gap: 24px;
  }
}

/* Hover Style */
.hover-effect {
  transition: all 0.3s ease-in-out;
}

.hover-effect:hover {
  animation: animated-border 1.5s infinite;
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 183, 241, 0.5);
  }
  100% {
    box-shadow: 0 0 30px 20px rgba(0, 183, 241, 0);
  }
}

/* Figma */

.figma-logo {
  width: 150px;
  height: 150px;
  background: rgba(0, 183, 241, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 10px solid #fff;
  margin: 0 auto;
  backdrop-filter: blur(30px);
}

.figma-inner .content {
  padding: 0 40px;
}

.figma-logo img {
  width: 40px;
  min-width: 40px;
}

.figma-image {
  max-width: 920px;
  margin: 0 auto;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 48px 32px -23px rgba(28, 37, 57, 0.2);
}

.figma-inner {
  position: relative;
}

.figma-inner:before {
  content: "";
  position: absolute;
  background: rgba(0, 183, 241, 0.15);
  width: 100%;
  height: 80%;
  z-index: -1;
  border-radius: 18px;
  left: 0;
  top: 80px;
}

@media (max-width: 767px) {
  .figma-inner .content {
    padding: 0 24px;
  }

  .figma-logo {
    width: 120px;
    height: 120px;
    border: 6px solid #fff;
  }

  .figma-inner:before {
    top: 63px;
  }
}

/* Grid */
.style-grid .section-headings.headings-width {
  max-width: 870px;
}

.style-figma,
.style-icon,
.style-font,
.style-heading {
  border-radius: 18px;
  overflow: hidden;
  padding: 32px;
  min-height: 390px;
  height: 100%;
}

.style-heading .image {
  border-radius: 18px;
  overflow: hidden;
}

.style-figma .section-headings {
  max-width: 510px;
}

.style-font {
  background-image: url("../../cdn.prod.website-files.com/66e7f279201af6a86854a7ea/6737369b491ba651b7c32222_font-bg.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.style-icon {
  background-image: url("../../cdn.prod.website-files.com/66e7f279201af6a86854a7ea/6737369b491ba651b7c32225_icon-bg.png");
  background-position: 100% 125%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
}

.style-figma {
  background-image: url("../../cdn.prod.website-files.com/66e7f279201af6a86854a7ea/6737369b491ba651b7c3222b_figma-bg.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 4px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 991px) {
  .style-figma,
  .style-icon,
  .style-font,
  .style-heading {
    min-height: 475px;
  }
}

@media (max-width: 767px) {
  .style-figma,
  .style-icon,
  .style-font,
  .style-heading {
    padding: 24px 16px;
    min-height: 400px;
  }
}

/* Core Features  */
.card-feature.text-center {
  height: 100%;
}

.card-feature .svg-wrapper {
  min-width: 100px;
  width: 100px;
  height: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  backdrop-filter: blur(30px);
  border: 8px solid #fff;
  overflow: hidden;
  margin: 0 auto;
}

.card-feature .svg-wrapper svg {
  min-width: 48px;
  width: 48px;
  height: 48px;
}

.card-feature.text-center {
  position: relative;
  padding: 40px 24px;
}

.card-feature:before {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  background-color: #eee;
  width: 100%;
  height: 70%;
  z-index: -1;
  border-radius: 18px;
  box-shadow: 0px 7px 14px -4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card-feature:hover:before {
  transform: scale(1.04) translateY(-3px);
}

/* Mobile Responsive  */
.responsive-card {
  background: #d1d1d1;
  border-radius: 18px;
  overflow: hidden;
}

.responsive-card .section-headings {
  padding: 24px 40px;
}

.responsive-image {
  max-width: 470px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .responsive-image img {
    object-fit: scale-down;
    height: 410px;
  }

  .responsive-card .section-headings {
    padding: 24px;
  }
}

@media (max-width: 767px) {
  .responsive-card .section-headings {
    padding: 24px 16px;
  }
}

/* Text Banner */
.text-banner {
  background: #d1d1d1;
  padding-bottom: 60px;
  margin-top: 100px;
}

.banner-inner .image {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.banner-inner .heading {
  font-size: 60px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .banner-inner .heading {
    font-size: 48px;
  }
}

.gradient-bg {
  background: repeating-linear-gradient(
      60deg,
      transparent 0px,
      transparent 1px,
      rgba(255, 255, 255, 0.05) 1px,
      rgba(255, 255, 255, 0.05) 2px
    ),
    repeating-linear-gradient(
      -60deg,
      transparent 0px,
      transparent 1px,
      rgba(255, 255, 255, 0.05) 1px,
      rgba(255, 255, 255, 0.05) 2px
    ),
    linear-gradient(
      60deg,
      rgba(43, 108, 176, 0.4) 0%,
      rgba(72, 126, 176, 0.4) 33%,
      rgba(95, 142, 176, 0.4) 66%,
      rgba(116, 157, 176, 0.4) 100%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 50%
    );
  background-blend-mode: overlay, overlay, normal, screen;
  animation: crystal-shimmer 15s ease-in-out infinite;
}

.media-opacity {
  opacity: 0.05;
}

.gradient-bg-2 {
  background-image:radial-gradient(70% 55% at 50% 50%, #2a5d77 0%, #184058 18%, #0f2a43 34%, #0a1b30 50%, #071226 66%, #040d1c 80%, #020814 92%, #01040d 97%, #000309 100%), radial-gradient(160% 130% at 10% 10%, rgba(0,0,0,0) 38%, #000309 76%, #000208 100%), radial-gradient(160% 130% at 90% 90%, rgba(0,0,0,0) 38%, #000309 76%, #000208 100%);
}
